[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "3.2"
djangorestframework = "3.14"
django-cors-headers = "4.1.0"
gunicorn = "20.1"
pytz = "2020.4"
sqlparse = "0.4.1"
asgiref = "3.3.1"
psycopg2-binary = "2.8.6"
dj-database-url = "*"
drf-yasg = "*"

[requires]
python_version = "3.7.10"
